@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */


/* Full screen background color */
body {
  /* background-color: #1e293b; */
  background-color: #0f172a;
}




/* Typing Effect */
.word {
  display: inline-block;
}

.word span {
  color: #ff5252;
  position: relative;
}

.word span::after {
  content: '';
  width: 8px;
  height: 100%;
  background: #ff5252;
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
  animation: blink 0.5s ease infinite alternate-reverse;
}

@keyframes blink {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

.word.empty {
  visibility: hidden;
}

.word.empty span::after {
  visibility: visible;
  right: 0;
}